/* start Eric Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end Eric Meyer Reset */


*{
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}


nav {
    margin: 4% 0;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: white;
    margin: 0 auto;
    padding: 1% 1.5%;
    border-radius: 10px;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.4rem;
}
.planVisit, .learnPark, .getInvolved {
    display: inline-block;
    width: 14%;
    margin: 0 auto;
}
.planVisit {
    background: #FF764E;
}
.learnPark {
    background: #5ED3EB;
    margin-left: 15%
}
.getInvolved {
    background: #FFCD69;
    margin-left: 15%
}

header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}
.header-img {
    display: inline-block;
    width: 25%;
}
.header-img img {
    border-radius: 50%;
    width: 100%;
}

.header-words {
    display: inline-block;
    width: 60%;
    margin-bottom: 3%;
    vertical-align: top;
    margin: 0 auto;
}
.title {
    font-family: 'Chelsea Market', cursive;
    font-size: 4.5rem;
    text-align: center;
    margin: 6% 0;
}

.header-words p {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 4%;
}

.subtitles {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}


.info {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.4rem;
    line-height: 1.4;
    padding: 1% 3% 0;
    margin: 5% 5% 2% 5%;
    background: #B19281;
    color: white;
    text-align: center;
}
.info p{
    padding-bottom: 1.5%;
}



.tips {
    text-align: center;
    width: 20%;
    font-family: 'Roboto Mono', sans-serif;
    margin: 0 auto 6%;
}
.tips p {
    line-height: 1.2;
}
.tips a {
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.icon {
    width: 50%;
    margin-bottom: 3%;
}

.footer-img img{
    width: 100%;
    height: 185px;
    object-fit: cover;
    object-position: 50% 15%;
}
.bottom-nav {
    background: #FBDEDA;
    padding: 3% 0;
    margin: 0;
}




h2 {
    font-family: 'Chelsea Market', cursive;
    font-size: 3rem;
    margin-left: 5%;
    margin-bottom: 4%;
}
.option h3 {
    font-family: 'Chelsea Market', cursive;
    font-size: 2rem;
    margin-left: 5%;
    margin-bottom: 1%;
}
.option p {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    margin-left: 5%;
    margin-bottom: 1%;
    line-height: 1.3;
}
.option a {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
    margin-left: 5%;
}
.option li {
    margin-bottom: 1%;
}
.option {
    display: inline-block;
    width: 60%;
    vertical-align: top;
}
.option-img {
    display: inline-block;
    width: 30%;
    margin-left: 5%;
    margin-bottom: 5%;
}
.option-img img{
    width: 100%;
    border-radius: 10px;
}

.donate {
    margin-left: 2%;
    margin-bottom: 5%;
}
.donate a{
    padding: 1% 3%;
    background: tomato;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
.donate p {
    margin-bottom: 4%;
}